body {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 125%;
	width: 500px;
	margin: 0 auto;
	padding: 1em;
	border: 10px solid white;
	background-color: #3399FF
}
h1 {
	margin: 0;
	padding: .25em;
	color: navy;
	font-size: 400%;
}
#copyright {
	font-size: 75%;
	text-align: right;
}
img  {
	float: left;
	margin: 0 1em;
}
p {
	margin: 0;
	padding-bottom: .5em;
}